body {
  background-image: url(https://images.pexels.com/photos/133953/pexels-photo-133953.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Parkinsans", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.box {
  background: whitesmoke;
  max-width: 600px;
  margin: 50px auto;
  box-shadow: 0 30px 50px rgba(28, 16, 60, 0.2);
  border-radius: 16px;
  padding: 30px;
}

header {
  border-bottom: 1px solid rgba(0, 119, 255, 0.5);
  padding: 15px 0 30px 0;
}

.search-bar {
  background-color: rgba(0, 119, 255, 0.1);
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}

.search-button {
  background: rgb(8, 22, 80);
  padding: 15px 30px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  border-radius: 6px;
  color: white;
}

main {
  padding: 30px 0;
}

.weather-app {
  display: flex;
  justify-content: space-between;
}

h1 {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
  color: rgb(8, 22, 80);
}

.weather-details {
  font-size: 16px;
  color: rgba(8, 22, 80, 0.7);
  line-height: 25px;
  font-weight: 500px;
}

.weather-details strong {
  color: rgb(8, 22, 80);
}

.temperature {
  display: flex;
}

.emoji {
  font-size: 44px;
  margin-top: 10px;
}

.number {
  font-size: 86px;
  margin-left: 10px;
  font-weight: bold;
  color: rgb(8, 22, 80);
}

.unit {
  margin-top: 20px;
  font-size: 38px;
  color: rgb(8, 22, 80);
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.weather-forecast-date {
  text-align: center;
  color: rgba(8, 22, 80, 0.7);
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
}

.weather-forecast-icon {
  width: 100%;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.weather-forecast-temperatures {
  text-align: center;
  color: rgb(8, 22, 80);
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.weather-forecast-temperature {
  padding: 0 10px;
}

footer {
  border-top: 1px solid rgba(0, 119, 255, 0.5);
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 13px;
  color: rgba(8, 22, 80, 0.7);
}
